<div class="forgot-password-wrapper">
    <div class="forgot-password-container">
        <h1 class="h1">{{'Forgot password' | uppercase}}</h1>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
            <div>
                <div class="email-form-control">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" id="email" placeholder="Email" formControlName="email" />
                </div>
                <button [disabled]="forgetPasswordForm.invalid" class="btn forgot-password-btn" type="submit">Submit</button>
                <p *ngIf="showMessage">Check your inbox to reset password</p>
            </div>
        </form>
    </div>
</div>