<div class="reset-password-wrapper">
    <div class="reset-password-container">
        <h1 class="h1">{{'Reset password' | uppercase}}</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
            <div>
                <div class="reset-form-control">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" placeholder="Password" formControlName="password" />
                </div>
                <div class="reset-form-control">
                    <label for="confirm-password">Confirm Password</label>
                    <input class="form-control" type="password" if="confirm-password" placeholder="Confirm Password" formControlName="confirmPassword" />
                </div> 
                <button [disabled]="resetPasswordForm.invalid" class="btn reset-password-btn" type="submit">Reset password</button>
            </div>
        </form>
    </div>
</div>