.external-signin-form{
    padding-top: 20px;
    padding-bottom: 20px;
}

.fb-btn{
    margin-top: 15px;
    background-color: rgb(68, 68, 245);
    color: #fff;
    width: 100%;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.fb-btn:hover{
    background-color: rgb(27, 27, 223);
}