<div class="nav-wrapper">
    <div class="home-container" (click)="this.showSelect = false">
        <div><img class="logo" *ngIf="logo" [src]="logo" alt="FTWRK"></div>
    </div>
    <div>
        <button mat-icon-button class="nav-profile" [matMenuTriggerFor]="menu">
            <img [src]="picture ?? 'assets/img/profile-picture-default.jpg'"/>
            <h5 *ngIf="profile">
                {{profile.userName}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </h5>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item (click)="openProfile()">Profile</a>
            <a mat-menu-item (click)="openSettings()">Settings</a>
            <a mat-menu-item (click)="logOut()">Log Out</a>
        </mat-menu>
    </div>
</div>