.edit-song-wrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(13, 13, 13);
    border-radius: 10px;

    button{
        color: #fff;
        background-color: rgb(6, 151, 6);
    }
}

h1{
    font-size: 32px;
    align-self: center;
}

.edit-song-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.edit-song-item{
    margin-bottom: 20px;

    label{
        font-size: 18px;
        margin-right: 20px;
    }

    input{
        width: 83%;
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
        color: #fff;
        border-bottom: 1.5px solid #fff;
    }
}

.artists-form-group{
    display: flex;

    .artists{
        display: flex;
        width: 300px;
    }

    .add-artist{
        justify-self: flex-end;
        height: 40px;
        margin-left: 20px;
    }
}

mat-select{
    padding-top: 10px;
    height: 50px;
}

.submit-btn{
    align-self: center;
    width: 100px;
    margin-top: 20px;
}