<div class="edit-form-wrapper">
    <div class="edit-form-container">
        <div class="edit-header">
            <h1>Edit Album</h1>
            <svg (click)="close()" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
        <form [formGroup]="editForm" class="edit-form" (ngSubmit)="submit()">
            <div class="edit-album">
                <div class="edit-poster">
                    <img [src]="localUrl? localUrl : album.poster">
                    <input type="file" #file (change)="uploadImage($event)" style="display:none;">
                    <button type="button" class="btn edit-profile-btn" (click)="file.click()">Upload File</button>
                </div>
                <div class="edit-item-list">
                    <div class="edit-item">
                        <label for="title">Title:</label>
                        <input type="text" id="title" formControlName="title">
                    </div>
                    <div class="edit-item">
                        <label for="year">Year:</label>
                        <input type="number" id="year" formControlName="year">
                    </div>
                    <div class="edit-item">
                        <label for="albumType">Album Type:</label>
                        <select id="albumType" formControlName="albumType">
                            <option *ngFor="let albumType of albumTypeKeys" [value]="albumType">
                                {{albumTypeMapping[albumType]}}
                            </option>
                        </select>
                    </div>
                    <div class="edit-item genres">
                        <label for="genres">Genres:</label>
                        <div id="genres" class="genres-list" formArrayName="genres">
                            <div class="genres-item" *ngFor="let genre of genres.controls; let i = index" [formGroupName]="i">
                                <input type="text" formControlName="genre">
                                <button (click)="removeGenre(i)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="add-genre-btn" (click)="addGenre()">
                            Add
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </div>    
                </div>
            </div>
            <button class="submit-btn" [disabled]="!editForm.valid" type="submit">Save</button>
        </form>
    </div>
</div>